<div class="header" id="head">
  <h1>Product Details</h1>
  
</div>

<br>


<div *ngFor="let product of products.content"  id="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{product.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Product Name <span>{{product.name}}</span> </p>
          <p class="card-text">Product Description <span>{{product.description}}</span> </p>
          <p class="card-text">Price <span>{{product.price}} </span></p>
         
        </div>
      </div>
    </div>
  </div>
