<div class="header">
  <h1>Product Details</h1>
  
</div>

<br>


<div class="container">


  <table>
    <thead>
      <tr>
        <th>Image URL</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Price</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let product of products.content">
  
          <td><img src="{{product.image}}" alt=""></td>
        <td>
          {{product.name}}
        </td>
        <td>{{product.description}}</td>
  
        <td>{{product.price}}</td>
  
  
        
      </tr>
    </tbody>
  </table>


</div>